
@{
    ViewBag.Title = "Информация о хуожнике";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="~/Content/Gallery/0.jpg"><img src="~/Content/Gallery/0.jpg" /></a>
</div>
<br />

<div>
    <p>
        Марк Спейн (Mark Spain) - известный художник из Великобритании, получил образование в Кенте, в Колледже Искусств по специальности графика.
    </p>
    <p>
        Марк - энергичный и творческий человек, который постоянно экспериментирует, как художник, используя для создания своих произведений различные техники и манеру изображения.        
    </p>
    <p>
        "Моё искусство началось с любви к ландшафтным изображениям. Однако, время шло, я почувствовал необходимость развивать и другие формы изображения от абстрактного к образному. Я постоянно экспериментирую с различными субъектами и объектами, которые потом отражаются в моих работах".
    </p>
    <p>
        По его словам, его "основной целью при создании картин стало желание создать такую атмосферу, которая влияет на настроение и впечатление моих зрителей от того, что они видят, ведь, попав в галерею, произведения начинают жить своей собственной жизнью, а для меня в этом и есть истинный смысл моего творчества ".
    </p>
    <br />
    <p>
        Марк Спейн – ценитель женской красоты. Художник запечатлевает в своих картинах неуловимые моменты женского очарования. Его картины - картины настроения, особой атмосферы, движения, он воспевает женственность, красоту. Его работы были настолько интересны и для зрителей, и для специалистов, что ему была присуждена престижная премия "Челси" в Хэмптон-Корт.
    </p>
    <p>
        Художник запечатлевает в своих картинах неуловимые моменты женского очарования. Его картины - картины настроения, особой атмосферы, движения, он воспевает женственность, красоту, само прекрасное.
    </p>
</div>
